[Desktop Entry]
Name=Materia Light
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Materia-Light
X-KDE-PluginInfo-Version=1.0
X-Plasma-Theme-Name=Materia-Light
X-Plasma-Theme-Author=Alexey Varfolomeev
X-Plasma-Theme-Description=Materia Light Aurorae theme
X-Plasma-Theme-Version=1.0
X-Plasma-Theme-Website=https://www.example.com
X-Plasma-Theme-License=GPL v3
X-Plasma-Theme-Email=varlesh@gmail.com
X-Plasma-Theme-EnabledByDefault=true
