[Desktop Entry]
Name=Materia
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Materia
X-KDE-PluginInfo-Version=1.0
X-Plasma-Theme-Name=Materia
X-Plasma-Theme-Author=Alexey Varfolomeev
X-Plasma-Theme-Version=1.0
X-Plasma-Theme-Description=Materia Aurorae theme for Plasma 6
X-Plasma-Theme-Homepage=https://www.example.com/materia
X-Plasma-Theme-License=GPL v3
X-Plasma-Theme-Email=varlesh@gmail.com
